body {
   padding-top: 40px;
   margin-top:  20px;
   //background-color: blue;
}
 
.form-signup, .form-signin {
   width: 400px;
   margin: 0 auto;
}

.form-label{

	width: 105px;
    display: inline-block;
    &:after{
        content: ":";
}